
h2{
  padding: 2rem;
}
h4{
  font-size: 1.2rem;
}
h5{
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-custom {
  background-color: #ffffff;
  transition: background-color 0.4s ease;
}

.navbar-scrolled {
  background-color: #f1f1f1 !important;
}

main {
  background: linear-gradient(
      rgba(255, 255, 255, 0.55),  /* capa blanca con opacidad */
      rgba(255, 255, 255, 0.55)
    ),
    url(../assets/img/portada.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 70% de la altura de la pantalla */
}

.proyectos{
  height: 80vh; 
}

.donaciones{
   height: 80vh; 
   background-color:#f2f7fd ;
}

.parrafo{
  font-size: 1.2rem;
}

.boton{
    background-color:#0a2642;
    color:#fff;
    border:none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #133d66; /* tono más claro */
  transform: scale(1.05);   /* efecto ligero de zoom */
  color: #ffffff;
}

.boton1{
    background-color: #a8946b;
    color:#fff;
    border:none;
}

.boton1:hover {
  background-color: #c2ad7e; /* tono más claro */
  transform: scale(1.05);   /* efecto ligero de zoom */
  color: #ffffff;
}
.mision{
  padding: 8rem;
}

@media (max-width: 760px) {
  .mision {
    padding: 2rem; /* elimina el padding en móviles/tablets pequeños */
  }
}
.impacto{
  background-color: #fafafb;
  padding: 8rem;
}

@media (max-width: 1000px) and (min-width: 760px) {
  .impacto .card{
    width: 20rem;
    height: 22rem;
  }
   .impacto .card .card-text {
    text-align: justify;
  }
}

.titulo{
  color: #a8946b;
}
.icono{
  font-size: 3rem;
  color: #0a2642;
}

.icono2{
  font-size: 3rem;
  color: #a8946b;
}
.icono3{
  font-size:3rem;
}

.icono4{
  font-size: 3rem;
  color: #0a2642 ;
}

.cambio{
  background-color: #f2f7fd;
  padding: 8rem;
}

.text-justify {
  text-align: justify;
}

.valores{
  width: 15rem;
  height: 20rem;
}

.equipo img {
  object-fit: cover;
  border: 4px solid #f1f1f1; /* borde ligero */
  transition: transform 0.3s ease;
}

.equipo img:hover {
  transform: scale(1.05); /* efecto zoom al pasar el mouse */
}

.botonApoyo {
  border: 2px solid #0a2642;
  color: #0a2642;
  background-color: transparent;
  transition: all 0.3s ease;
}

.botonApoyo:hover {
  background-color: #0a2642;
  color: #ffffff;
}

.botonApoyo1 {
  background-color: #0a2642;
  color: #fff;
}

.botonApoyo1:hover {
  background-color: transparent;
  color: #0a2642;
  border: 2px solid #0a2642;
}

.card.border-apoyo {
  border: 2px solid #0a2642;
}

.accordion-button:not(.collapsed) {
  background-color: #0a2642;
  color: #fff;
}

.accordion-button:focus {
  box-shadow: none;
}

.card-body p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.6;
}

.card-body p::before,
.card-body p::after {
  content: '"';
  color: #0a2642;
  font-size: 1.2rem;
  font-weight: bold;
}

